@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-dark: rgb(23, 1, 29);
    --primary-medium: rgb(81, 17, 87);
    --primary-light: rgb(171, 51, 196);
    --secondary-dark: rgb(75, 75, 75);
    --secondary-medium: rgb(224, 222, 222);
    --secondary-light: rgb(245, 242, 242);
    max-width: 1440px;
    margin: 0 auto;
}

@layer base {
    html {
        @apply scroll-smooth font-mono
    }

    .nav_link {
        @apply cursor-pointer hover:border-solid hover:border-b-2 hover:border-[var(--primary-light)] rounded-md font-semibold text-[var(--primary-medium)] p-1
    }

    .button {
        @apply py-1.5 border rounded-md px-3 bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] hover:bg-gradient-to-r hover:from-[var(--primary-light)] hover:to-[var(--primary-dark)] text-white m-3
    }

    .button2 {
        @apply border-2 border-[var(--primary-light)] font-semibold py-1 px-2 rounded-md text-[var(--primary-medium)] hover:bg-[var(--primary-medium)] hover:text-white
    }

    .button3 {
        @apply hover:text-[var(--primary-medium)] font-semibold shadow-md shadow-white backdrop-blur-lg hover:shadow-[var(--primary-light)] rounded-md hover:bg-white py-1 px-2 text-white bg-[var(--primary-medium)]
    }

    .button4 {
        @apply text-[var(--primary-medium)] font-semibold shadow-md hover:shadow-white backdrop-blur-lg shadow-[var(--primary-light)] rounded-md bg-white py-1 px-2 hover:text-white hover:bg-[var(--primary-medium)]
    }

}